.App {
  background: rgb(255, 217, 189);
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0 100px;
}
.App .container {
  display: block;
  max-width: 900px;
  text-align: center;
  padding-top: 30px;
}

.dictionary-logo {
  border-radius: 40px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
