.App{
  background:rgb(255, 217, 189) ;
}
.App .container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.dictionary-logo {
  border-radius: 40px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
